.table-main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
}
.table-td{
    padding:20px;
}
.employee-details{
    border:1px solid #ccc;
}